{%extends 'base.html'%}
{%block title%}Edit{%endblock title%}

{%block content%}
  <h3>Edit your todo</h3>
  <form method="POST">
    {%csrf_token%}
    <div class="col-sm-12 mt-2" id="container">
      <div class="input-group input-group-md" id="container">
        <input type="text" class="form-control" placeholder="{{item.title}}" name="edit" required>
        <button class="btn btn-info" type="submit"><i class='bx bxs-edit-alt bx-tada'></i>Edit</button>
      </div>
    </div>
    
  </form>

{%endblock content%}
<!-- #container{
  display: flex;
  flex-direction:row;
  align-self: center;
  justify-content: center;
}

h3{
  text-align: center;
} -->